*{
	margin: 0;
	padding: 0;
}
html{
background-image:url('../img/bg.png');
    background-position: center;
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
#wrap {
	height: 75%;
	width: 100%;
	background-image:url(/../img/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
#head {
	height: 46px;
	width: 100%;
	background-color: #66CCCC;
	text-align: center;
	position: relative;
}
#wrap .logGet {
	height: 408px;
	width: 368px;
	position: absolute;
	background-color: #FFFFFF;
	top: 20%;
    margin-top: 65px;
	right: 15%;
}
.logC a button {
	width: 100%;
	height: 45px;
	background-color: #ee7700;
	border: none;
	color: white;
	font-size: 18px;
}
.logGet .logD.logDtip .p1 {
	display: inline-block;
    text-align: center;
	font-size: 28px;
	margin-top: 30px;
	width: 86%;
}
#wrap .logGet .logD.logDtip {
	width: 86%;
	border-bottom: 1px solid #ee7700;
	margin-bottom: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
.logGet .lgD img {
	position: absolute;
	top: 12px;
	left: 8px;
}
.logGet .lgD input {
	width: 100%;
	height: 42px;
	text-indent: 2.5rem;
}
#wrap .logGet .lgD {
	width: 86%;
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
#wrap .logGet .logC {
	width: 86%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


.title {
	font-family: "宋体";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
	font-size: 36px;
	height: 40px;
	width: 30%;
}

.copyright {
	font-family: "宋体";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
	height: 60px;
	width: 40%;
	text-align:center;
}


.copyright .img .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
/*  background-image: url(th:'@{/static/41a5da805fd87a785882119e9ff84d8e.jpg}');*/
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.copyright .img .icon1 {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.copyright .img .icon2 {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.lgC{
    margin-bottom: 21px!important;
    margin-top: -40px!important;
}
input[type='checkbox']{
        width: 24px;
    margin-top: 10px;
    position: relative;
    top: 13px;

}
.goto_si{
    margin-top: 10px;
    text-align: center;
}
a{text-decoration: none}
