<ul class="posts">
    {% for post in posts %}
    {% if post.cls in current_user.classes.all() %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).format('LLL') }}</div>
            <div class="post-author"><a href="{{ url_for('.user', id=post.author_id) }}">{{ post.author.username }}</a></div>
            <div class="post-class">{{post.cls.name}}</div>
            <div class="post-body">{{ post.body }}</div>
            </br>
            {% if current_user.is_teacher %}
            <a href="{{ url_for('.post', id=post.id) }}">查看提交详情</a>
            {% else %}
            <a href="{{ url_for('.upload', id=post.id) }}">提交作业</a>
            <br/><hr/>
        </div>
    </li>
    
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
