{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                已提交作业数:{{count}}/{{student_count}}(点击查看详情)
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
            <ul>
            {% for filename in filelist %}
            <li>{{ filename }}
                <a href="{{ url_for('.download', id=post.id, filename=filename) }}">下载</a></li>
            {% endfor %}
            </ul>
            </div>
        </div>
</div>
<div>
<button type="button" class="btn btn-default">
    <a href="{{ url_for('.downloads', id=post.id) }}">下载文件夹(下载后请解压)</a></button>
</div>
    <hr></hr>
    <div><button type="button" class="btn btn-success"><a style="color:white" href="{{ url_for('main.chachong', id=post.id) }}">发起查重</a></button></div>
{% endblock %}
