{% extends "base.html" %}

{% block page_content %}
<script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
<link href="{{ url_for('static', filename="css/upload.css") }}" rel="stylesheet">
<style>

</style>
<div class="head_text">
    <div class="text">提交作业</div>
</div>
<div class="upload">
    <div class="c">
        <div class="upload_c" id="ck">
            <p><img src="{{ url_for('static', filename="img/upload.png") }}"></p>
            <p>选择文件</p>
        </div>
        <p id="error" style="margin-top: 5px"></p>
      <form id="form" action="" enctype='multipart/form-data' method='POST'>
        <input id="file" style="display: none" type="file"  name="file">
        <input class="sub" type="button" onclick="get_sub()" value="提交作业">
    </form>
    </div>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $("#ck").click(function () {
    $("#file").click()
    })
function get_sub() {
console.log($("#file").val())
if ($("#file").val()){
    $("#error").html($("#file").val())
    $("#form").submit()
}
else{
    $("#error").html("未选择提交文件")
}
}
</script>
{% endblock %}
