{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}查重网{{ user.username }}{% endblock %}

{% block page_content %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/user.css') }}">
<div class="head_text">
    <div class="text">全部作业</div>
</div>
<div class="upload">
    <h1><span class="name">{{ user.username }}</span></h1>
    <div class="c">
        <table>
            <tr>
            <th>ID</th>
            <th>老师</th>
            <th>科目</th>
            <th>发布时间</th>
            <th>备注</th>
            <th>操作</th>
            </tr>
            {% for post in posts %}
            {% if post.cls in current_user.classes.all() %}
             <tr>
                <td>001</td>
                <td><a href="{{ url_for('.user', id=post.author_id) }}">{{ post.author.username }}</a></td>
                <td>{{post.cls.name}}</td>
                <td>{{ post.body }}</td>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                 <td>
                     <button class="sub">
                         {% if current_user.is_teacher %}
                        <a href="{{ url_for('.post', id=post.id) }}">查看提交详情</a>
                        {% else %}
                            <a href="{{ url_for('.upload', id=post.id) }}">提交作业</a>
                         {% endif %}
                    </button>
                 </td>
            </tr>

        {% endif %}
        {% endfor %}
        </table>
{#    {% if pagination %}#}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', id=user.id) }}
</div>
{#{% endif %}#}
    </div>
</div>
{% endblock %}
