{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}查重网 - 修改密码{% endblock %}

{% block page_content %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/login.css') }}">
<div class="wrap" id="wrap">
	<div class="logGet">
        <form  method="post">
			<div class="logD logDtip">
				<p class="p1">修改你的密码</p>
			</div>
			<div class="lgD">
				<img src="{{ url_for('static', filename="img/pwd.jpg") }}" width="20" height="20" alt=""/>
                {{ form.old_password}}
			</div>
			<div class="lgD">
				<img  src="{{ url_for('static', filename="img/pwd.jpg") }}" width="20" height="20" alt=""/>
				{{ form.password}}
			</div>
            <div class="lgD">
				<img  src="{{ url_for('static', filename="img/pwd.jpg") }}" width="20" height="20" alt=""/>
				{{ form.password2}}
			</div>
			<div class="logC">
				<a href="#" id="loginButton"><button type="submit">更改密码</button></a>
			</div>
           <hr>
        </form>
		</div>
</div>
{% endblock %}
