{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}查重网 - 注册{% endblock %}

{% block page_content %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/login.css') }}">
<div class="wrap" id="wrap">
	<div class="logGet">
        <form  method="post">
			<div class="logD logDtip">
				<p class="p1">注册</p>
			</div>
			<div class="lgD">
				<img  src="{{ url_for('static', filename="img/user.jpg") }}" width="20" height="20" alt=""/>
                {{ form.user_id}}
			</div>
			<div class="lgD">
				<img  src="{{ url_for('static', filename="img/user.jpg") }}" width="20" height="20" alt=""/>
				{{ form.username}}
			</div>
            <div class="lgD">
                    <img  src="{{ url_for('static', filename="img/pwd.jpg") }}" width="20" height="20" alt=""/>
                    {{ form.password}}
			</div>
            <div class="lgD">
				<img  src="{{ url_for('static', filename="img/pwd.jpg") }}" width="20" height="20" alt=""/>
				{{ form.password2}}
			</div>
			<div class="logC">
				<a href="#" id="loginButton"><button type="submit">注册</button></a>
			</div>
            <div>
                <p class="goto_si">老用户？<a href="{{ url_for('auth.login') }}" id="loginButton">点击登录</a></p>
			</div>
        </form>
		</div>
</div>
{% endblock %}
